.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
}

.card__image {
  width: 100%;
  min-height: 180px;
  background: #b8b8b8;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 10px;
}

.card__info {
  display: flex;
  flex-direction: column;
  background: var(--black);
  color: var(--white);
  padding: 10px;
  min-height: 150px;
}

.card__tag {
  font-size: 11px;
  font-weight: 300;
  line-height: 15px;
  margin-bottom: 5px ;
}

.card__name {
  font-size: 15px;
  font-weight: 600;
  line-height: 110%;
  margin-bottom: 5px;
}

.card__author{
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.card__footer {
  margin-top: auto;
  display: flex;
}

.button_add {
  width: 36px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 6px;
  border: 1px solid var(--white);
  cursor: pointer;
}

.button__active {
  background: var(--white);
}